<script type="text/javascript">

angular.module('app').controller('myCtrl', ['$scope', '$rootScope', '$http', '$sce', '$stateParams', '$location', 
	'$state', '$httpParamSerializerJQLike',
	function($scope, $rootScope, $http, $sce, $stateParams, $location, $state, $httpParamSerializerJQLike) {

		$scope.mode = $stateParams.productId ? 'modify' : 'new';
		
		$http({
			method : "POST",
			url : "/admin/api/category"
		}).success(function(data) {
			console.log(data);
			$scope.categorys = data.list;
		});

		if($scope.mode == "modify") {
			$http({
				method : "POST",
				url : "/admin/api/product/"+$stateParams.productId
			}).success(function(data) {
				console.log(data);
				$scope.data = data;
			});			
		}
		
		$scope.submit = function () {

			var url = "";
			if($scope.mode == "modify") {
				url = "/admin/api/product/"+$stateParams.productId+"/update";
			} else {
				url = "/admin/api/product/insert";
			}


			$http({
					method : "POST",
					url : url,
					data: $scope.data,
					headers : {'Content-Type': undefined},
		            transformRequest: function (data, headersGetter) {
		                var formData = new FormData();
		                angular.forEach(data, function (value, key) {
		                	if(value != null) {
		                		formData.append(key, value);
		                	}
		                });
		                if($scope.file) {
		                	formData.append("file", $scope.file);
		                }
		                return formData;
		            }
			}).success(function(data) {
				if(!$scope.alerts) {
					$scope.alerts = [];
				}

				if($scope.mode == "modify") {
					$scope.addAlert("저장되엇습니다.");
				}else {
					$location.path("/app/product/list");
				}
			});

		};

		$scope.addAlert = function(msg) {
			$scope.alerts.push({msg: msg, type : 'warning'});
		};

		$scope.closeAlert = function(index) {
			$scope.alerts.splice(index, 1);
		};

		$scope.removeThumb = function() {
			
			$scope.data.thumbPath = "";
			$scope.data.thumbLocalPath = "";
			$scope.data.thumbSize = 0;
			$scope.data.thumbName = "";
			$scope.imageSource = "";
		}


	    //listen for the file selected event
	    $scope.$on("fileSelected", function (event, args) {
	        $scope.$apply(function () {            
	            //add the file object to the scope's files collection
	            $scope.file = args.file;
		    });

			var reader = new FileReader();

			reader.onload = function(event) {
				$scope.imageSource = event.target.result;
				$scope.$apply();
			}
			// when the file is read it triggers the onload event above.
			reader.readAsDataURL(args.file);

	    });

	    $scope.imageUpload1 = function(files, args) {


			$http({
					method : "POST",
					url : "/admin/api/upload",
					headers : {'Content-Type': undefined},
		            transformRequest: function (data, headersGetter) {
		                var formData = new FormData();
		                for(var i = 0 ; i < files.length ; i++) {
		                	formData.append("files", files[i]);
		                }
		                return formData;
		            }
			}).success(function(data) {
				for(var i = 0; i < data.length ;i++) {
					console.log(data[i].path);
					$scope.editor1.summernote("editor.insertImage", data[i].path);	
				}
			});

	    }
	    

	    $scope.imageUpload2 = function(files, args) {


			$http({
					method : "POST",
					url : "/admin/api/upload",
					headers : {'Content-Type': undefined},
		            transformRequest: function (data, headersGetter) {
		                var formData = new FormData();
		                for(var i = 0 ; i < files.length ; i++) {
		                	formData.append("files", files[i]);
		                }
		                return formData;
		            }
			}).success(function(data) {
				for(var i = 0; i < data.length ;i++) {
					console.log(data[i].path);
					$scope.editor2.summernote("editor.insertImage", data[i].path);	
				}
			});

	    }


	    $scope.delete = function () {

	    	if(confirm("삭제 하시겠습니까?")) {

				$http({
					method : "POST",
					url : "/admin/api/product/"+$stateParams.productId+'/delete',
				}).success(function(data) {
					$location.path("/app/product/list");
				});			

	    	}

	    }

	}]
);

angular.module('app').directive('fileUpload', function () {
    return {
        scope: true,        //create a new scope
        link: function (scope, el, attrs) {
            el.bind('change', function (event) {
                var files = event.target.files;
                //iterate files since 'multiple' may be specified on the element
                for (var i = 0;i<files.length;i++) {
                    //emit event upward
                    scope.$emit("fileSelected", { file: files[i] });
                }             
                el.val(null);
            });
        }
    };
});


</script>
<style>
	.form-horizontal .ignore .form-group{
		margin-left : 0px;
		margin-right : 0px;
	}
</style>
<div class="panel panel-default" ng-controller="myCtrl">
	<div class="panel-heading">상세정보</div>
	<div class="panel-body">
		<form class="form-horizontal" method="get" ng-submit="submit()">
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="form-group" ng-show="mode == 'modify'">
				<label class="col-sm-2 control-label">No</label>
				<div class="col-sm-10">
					<span
						class="help-block m-b-none">{{data.productId}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">카테고리</label>
				<div class="col-sm-10">
			
					<select class="input-sm form-control w-sm inline v-middle" style="min-width:200px;"
						ng-options="category.categoryId as category.categoryName for category in categorys" 
						ng-selected="data.categoryId == category.categoryId" 
						ng-model="data.categoryId" required="required">
						<option value="">선택하세요</option>
					</select>			
 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">상품명</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="data.productName" required="required"> 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">가격</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" ng-model="data.price" required="required"> 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">상품설명</label>
				<div class="col-sm-10 ignore" alt="어디갓지">
					<summernote min-height="300" ng-model="data.content" on-image-upload="imageUpload1(files)" editor="editor1"></summernote>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">상품 상세설명</label>
				<div class="col-sm-10 ignore" alt="어디갓지">
					<summernote min-height="300" ng-model="data.detail" on-image-upload="imageUpload2(files)" editor="editor2"></summernote>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">썸네일</label>
				<div class="col-sm-10">
					<div class="wrapper-sm b-a bg-white m-r-xs m-b-xs" style="width:402px;">
						<div class="bg-light" ng-show="data.thumbPath || imageSource" style="width:380px;">
							<img src="{{data.thumbPath}}" style="width:380px;height:300px" ng-show="!imageSource">
							<img src="{{imageSource}}" style="width:380px;height:300px" ng-show="imageSource">
							<button ng-click="removeThumb()" type="button" class="btn btn-default" style="width:100%">이미지 삭제</a>
						</div>

						<div class="bg-light text-center v-center" ng-show="!data.thumbPath && !imageSource" style="width:380px;height:300px; line-height:300px;font-size:36px">380 x 300</div>
						<input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control v-middle input-s" file-upload>
					</div>				
				</div>

			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="form-group">
				
				<div class="col-sm-5 col-sm-offset-2">
					
					<button onclick="javascript:history.back()" class="btn btn-default m-r-sm">목록</a>
					<button type="button" ng-click="delete()" class="btn btn-danger">삭제</button>
					

				</div>

				<div class="col-sm-5 text-right">
					<button type="submit" class="btn btn-primary">변경사항 저장</button>
					<alert dismiss-on-timeout="2000" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="m-t-sm text-right">{{alert.msg}}</alert>
				</div>
			</div>
		</form>
	</div>
</div>
