<script type="text/javascript">


angular.module('app').controller('myCtrl', ['$scope', '$rootScope', '$http', '$sce', '$stateParams', '$location',
	function($scope, $rootScope, $http, $sce, $stateParams, $location) {
		
		$scope.searchText	= $stateParams.searchText;
		$scope.categoryId	= $stateParams.categoryId;
		if($scope.categoryId) {
			$scope.categoryId = parseInt($scope.categoryId);
		}
		$scope.pageSize = $rootScope.pageSize ? $rootScope.pageSize : "10";
		$scope.Math=Math;

		$scope.loadData = function () {
			$http({
				method : "POST",
				url : "/admin/api/product",
				data : {
					page : $stateParams.page,
					pageSize : $scope.pageSize,
					searchText : $stateParams.searchText,
					categoryId : $stateParams.categoryId
				}
			}).success(function(data) {
				console.log(data);
				$scope.data = data;
			});
		};
		
		$http({
			method : "POST",
			url : "/admin/api/category"
		}).success(function(data) {
			console.log(data);
			$scope.categorys = data.list;
		});

		$scope.pageChanged = function (idx){
			$location.path('/app/product/list').search({page: $scope.data.currentPage,searchText: $scope.searchText, categoryId : $scope.categoryId});
		};

		$scope.search = function () {
			$location.path('/app/product/list').search({searchText: $scope.searchText, categoryId : $scope.categoryId});
		}

		$scope.pageSizeChanged = function () {
			$rootScope.pageSize =  $scope.pageSize;
			$scope.loadData();
		};


	}]
);


</script>

<div class="panel panel-default" ng-controller="myCtrl" ng-init="loadData()">
	<div class="panel-heading">상품목록</div>
	<div class="row wrapper">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left">
			<div class="input-group">
				<select class="input-sm form-control w-sm inline v-middle" style="min-width:200px;"
					ng-options="category.categoryId as category.categoryName for category in categorys" 
					ng-selected="categoryId == category.categoryId" 
					ng-model="categoryId">
					<option value="">전체</option>
				</select>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right">
			<div class="input-group">
				<input type="text" class="input-sm form-control" ng-model="searchText"
					placeholder="검색어를 입력하세요."> <span class="input-group-btn">
					<button class="btn btn-sm btn-default" type="button" ng-click="search()">검색</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row wrapper" ng-show="data.totalCount">
		<div class="col-sm-6 text-left">
			총 {{data.totalCount}} 건
		</div>
		<div class="col-sm-6 text-right">
			<select class="input-sm form-control w-sm inline v-middle" ng-model="pageSize" ng-change="pageSizeChanged()">
				<option value="10">10개 보기</option>
				<option value="20">20개 보기</option>
				<option value="50">50개 보기</option>
				<option value="100">100개 보기</option>
			</select>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped b-t b-light">
			<thead>
				<tr>
					<th width="10%" class="text-center">No</th>
					<th width="200" class="text-center">Thumb</th>
					<th width="30%" class="text-left">상품명</th>
					<th width="20%" class="text-right">가격</th>
					<th width="20%" class="text-center">등록일시</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data.list">
					<td class="text-center">{{data.totalCount - Math.floor((data.currentPage-1) * pageSize) - $index}}</td>
					<td class="text-center"><a href="#/app/product/detail/{{item.productId}}" ng-show="item.thumbPath"><img src="{{item.thumbPath}}" style="width:200px;height:auto;"></a></td>
					<td class="text-left"><a href="#/app/product/detail/{{item.productId}}">{{item.productName}}</a></td>
					<td class="text-right">{{item.price}}</td>
					<td class="text-center">{{item.registDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<div class="row">
			<div class="col-sm-12 text-center">
			    <pagination boundary-links="true" class="m-t-none m-b-none"  ng-model="data.currentPage" total-items="data.totalCount" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="pageSize"></pagination>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-right">
			    <a href="#/app/product/detail" class="btn btn-primary">등록</a>
			</div>
		</div>
	</footer>
</div>