{% extends "./blocks/layout.html" %}
{% block content %}
              <div class="content">
                  <section class="parallax-section header-section">
                      <div class="bg bg-parallax" style="background-image:url(images/bg/story.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                      <div class="overlay"></div>
                      <div class="container">
                          <h2>블루베리 스토리</h2>
                          <!-- <h3>오베리굿 블루베리 스토리</h3> -->
                      </div>
                  </section>

                  <!--=============== About ===============-->
                  <section class="effcet-section" id="sec1">
                      <div class="triangle-decor"></div>
                      <div class="container">
                          <div class="row">
                              <!--about text-->
                              <div class="col-md-12">
                                  <div class="section-title">
                                      <h3>블루베리 효능</h3>
                                      <!-- <h4 class="decor-title" style="font-weight:300">블루베리 효능</h4> -->
                                      <div class="separator color-separator"></div>
                                  </div>
                                  <p style="font-size:26px; color:#C59D5F; line-height:130%;font-weight:300; text-align:center">블루베리는 Times(타임지)에서 선정한10대 슈퍼 푸드</p>
                                <div class="open-list col-md-8 col-md-offset-2">
                                    <dl>
                                        <dt>
                                            <!-- <a href="#desc1"> -->
                                                눈의 건강과 시력을 좋게합니다.
                                            <!-- </a> -->
                                        </dt>
                                        <dd class="on" id="desc1">이탈리아와 프랑스에서 행하여진 연구에 의하면 65세 이상의 사람에게서 많이 나타나는 눈이 잘 보이지 않는 현상을 억제하고 눈의 피로를 덜어주는 효과가 있는 것으로 밝혀졌다.
                                            이 같은 연구는 세계 2차대전 중 블루베리 쨈을 빵에 발라먹고 야간과 새벽에 적진를 공격했던 영국의 전투기 조종사들이 희미한 불빛 속에서도 물체가 또렷이 보였다는 증언에 따라 학자들이 흥미를 가지면서 조사되었다. 이것은 블루베리의 자주 색을 내는 안토시아닌으로 인함이라고 하였다.</dd>
                                        <dt>
                                            <!-- <a href="#desc2"> -->
                                                뇌의 기능을 원활하게 합니다.
                                            <!-- </a> -->
                                        </dt>
                                        <dd class="on" id="desc2">실험실 연구에 의하면 사람과 같은 양의 블루베리를 먹인 쥐의 뇌가 더디게 노화가 진행됨을 알았고, 뇌기능 테스트에서 블루베리를 먹이지 않은 그룹의 쥐보다도 훨씬 뇌기능이 우수하게 나타났다. 블루베리에 많이 함유되어있는 항산화제 성분이 그 역할을 하고 있는 것으로 여겨지며, 기억력감퇴를 예방하는 효과도 있다.</dd>
                                        <dt>
                                            <!-- <a href="#desc3"> -->
                                                황산화 효과
                                            <!-- </a> -->
                                        </dt>
                                        <dd class="on" id="desc3">블루베리는 과일과 채소 중 가장 훌륭한 항산화 효과가 있는 과실이다. 체내 대사작용의 부산물로 생겨나서 만성질환을 일으키고 암이나 노화를 진행시키는 활성산소를 중성화하는 역할을 한다. 블루베리의 자주 색을 만드는 안토시아닌이란 성분이 작용하기 때문이다.</dd>
                                        <dt>
                                            <!-- <a href="#desc4"> -->
                                                뇌혈관 질환을 예방합니다.
                                            <!-- </a> -->
                                        </dt>
                                        <dd class="on" id="desc4">블루베리는 나쁜 콜레스테롤을 줄여준다. 이로 인해 발생할 수도 있는 뇌관계통의 질환의 위험을 줄여준다. 캘리포니아 대학의 데이비스 박사의 연구 결과, 블루베리에 함유되어있는 항산화제가 작용한 것으로 밝혀졌다.</dd>
                                        <dt>
                                            <!-- <a href="#desc5"> -->
                                                소변을 잘 보게 도와줍니다.
                                            <!-- </a> -->
                                        </dt>
                                        <dd class="on" id="desc5">블루베리에 함유되어있는 프로 안티시아니딘이라는 성분이 방광이나 소변 기관의 내면 벽에 박테리아가 서식하지 못하도록 하여 요로 감염을 막아주고 소변기 계통의 건강을 도와 소변을 시원하게 보도록 도와준다.</dd>
                                    </dl>
                                </div>
                              </div>
                              <!-- about images-->
                            </div>
                      </div>
                  </section>
                <!-- section end -->
                <section class="parallax-section">
                    <div class="bg bg-parallax" style="background-image:url(images/bg/since.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                    <div class="overlay"></div>
                    <div class="container">
                        <h2>오베리굿 히스토리</h2>
                        <!-- <h3>탄생! 오베리굿!</h3> -->
                        <div class="bold-separator">
                            <span></span>
                        </div>

                    </div>
                </section>
                <!-- <section class="history-section" id="sec2">
                    <div class="triangle-decor"></div>
                    <div class="menu-bg lbd history_bg" style="background-image:url(images/menu/1.png)" data-top-bottom="transform: translateX(400px);" data-bottom-top="transform: translateX(-100px);"></div>
                    <div class="menu-bg lbd" style="background-image:url(images/menu/1.png)" data-top-bottom="transform: translateX(200px);" data-bottom-top="transform: translateX(-200px);">
                    <div class="container rbd"  data-top-bottom="transform: translateX(-100px);" data-bottom-top="transform: translateX(400px);"> </div>

                </section> -->
                <section class="about-section" id="sec1">
                    <div class="triangle-decor"></div>
                    <div class="container">
                        <div class="row">
                            <!--about text-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>1995년 7월</h3>
                                        <h4 class="decor-title">샘골 블루베리 농장 설립</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>샘골 블루베리 농장은 경기도 군포에 위치하고 있으며, 대지 3000여 평에 나무 5000여 그루가 있으며, 그로 인한 수확량은 4~5톤 정도 됩니다.</p>
                                    <p>친환경 농사기법으로 재배하고 있으며, 맛있고 건강한 과일을 끊임없이 연구하는 곳입니다.</p>
                                </div>
                            </div>
                            <!-- about images-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="customNavigation">
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                    </div>
                                    <div class="single-slider owl-carousel">
                                        <!-- 1 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/5.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 2 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/6.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 3 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/14.jpg" class="respimg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <hr style="border:30px transparent solid"> -->
                    <div class="container">
                        <div class="row">
                            <!--about text-->
                            <div class="col-md-6 cross_text_1">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>2005년 / 2011년</h3>
                                        <h4 class="decor-title">제2농장설립(4월) / 제3농장설립(10월)</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>제 2 블루베리 농장은 천안에 위치해 있으며, 대지 8000여 평에 나무 4500여 그루가 있으며, 그로인한 수확량이 6~7톤 정도 </p>
                                    <p>제 3 블루베리 농장은 부천에 위치해 있으며, 대지 2500여 평에 나무 3700여 그루가 있으며, 그로인한 수확량이 3~4톤 정도<</p>
                                </div>
                            </div>
                            <!-- about images-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="customNavigation">
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                    </div>
                                    <div class="single-slider owl-carousel">
                                        <!-- 1 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/4.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 2 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/3.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 3 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/30.jpg" class="respimg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--about text-->
                            <div class="col-md-6 cross_text_2">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>2005년 / 2011년</h3>
                                        <h4 class="decor-title">제2농장설립(4월) / 제3농장설립(10월)</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>제 2 블루베리 농장은 천안에 위치해 있으며, 대지 8000여 평에 나무 4500여 그루가 있으며, 그로인한 수확량이 6~7톤 정도 </p>
                                    <p>제 3 블루베리 농장은 부천에 위치해 있으며, 대지 2500여 평에 나무 3700여 그루가 있으며, 그로인한 수확량이 3~4톤 정도</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <hr style="border:30px transparent solid"> -->
                    <div class="container">
                        <div class="row">
                            <!--about text-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>2011년 6월</h3>
                                        <h4 class="decor-title">친환경 인증마크 획득</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>샘골 블루베리 연구회에서 친환경 블루베리를 사용하여 친환경 인증 마크를 획득하였습니다.</p>
                                    <p>친환경 인증 마크 획득을 통하여 건강한 먹기 문화를 선도하는 기업으로 발돋움하였습니다.</p>
                                </div>
                            </div>
                            <!-- about images-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="customNavigation">
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                    </div>
                                    <div class="single-slider owl-carousel">
                                        <!-- 1 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/47.jpg" class="respimg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/gallery/farm/36.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 2 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/49.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 3 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/46.jpg" class="respimg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <hr style="border:30px transparent solid"> -->
                    <div class="container">
                        <div class="row">
                            <!--about text-->
                            <div class="col-md-6 cross_text_1">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>2012년 3월</h3>
                                        <h4 class="decor-title">친환경 상품 개발 및 생산</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>오베리굿은 친환경 블루베리를 사용하여 즙, 발효액, 건 잼 등을 개발하여 인기를 얻고 있으며, 가맹점에 납품을 하고 있습니다.</p>

                                </div>
                            </div>
                            <!-- about images-->
                            <div class="col-md-6 ">
                                <div class="single-slider-holder">
                                    <div class="customNavigation">
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                    </div>
                                    <div class="single-slider owl-carousel">
                                        <!-- 1 -->
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_a.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 2 -->
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_b.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 3 -->
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_c.jpg" class="respimg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_d.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 2 -->
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_e.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 3 -->
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_f.jpg" class="respimg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/gallery/menu/shop_g.jpg" class="respimg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--about text-->
                            <div class="col-md-6 cross_text_2">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>2012년 3월</h3>
                                        <h4 class="decor-title">친환경 상품 개발 및 생산</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>오베리굿은 친환경 블루베리를 사용하여 즙, 발효액, 건 잼 등을 개발하여 인기를 얻고 있으며, 가맹점에 납품을 하고 있습니다.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <hr style="border:30px transparent solid"> -->
                    <div class="container">
                        <div class="row">
                            <!--about text-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="section-title">
                                        <h3>2013년 2월</h3>
                                        <h4 class="decor-title">샘골 블루베리 연구회 설립</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <p>샘골 블루베리 연구회는 블루베리 제품을 개발하고, 또한 서울대학교(농업생명과학과)에서 연구회의 재배방법을 연구하여 논문을 발표하였습니다.</p>
                                    <p>또한 그로 인하여 미국화학학회에 논문 기재하였습니다.</p>
                                </div>
                            </div>
                            <!-- about images-->
                            <div class="col-md-6">
                                <div class="single-slider-holder">
                                    <div class="customNavigation">
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                    </div>
                                    <div class="single-slider owl-carousel">
                                        <!-- 1 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/43.jpg" class="respimg" alt="">
                                        </div>
                                        <!-- 2 -->
                                        <div class="item">
                                            <img src="images/gallery/farm/42.jpg" class="respimg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
              </div>

{% endblock %}
