{% extends "./blocks/layout.html" %}
{% block content %}
                <div class="content">
                    <!--=============== parallax section  ===============-->
                    <section class="parallax-section header-section">
                        <div class="bg bg-parallax" style="background-image:url(images/bg/fran.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>오베리굿 프렌차이즈</h2>
                            <!-- <h3>모던한 분위기에서 건강을 생각합니다.</h3> -->
                        </div>
                    </section>
                    <!--section end-->
                    <!-- ===========cart_confirm -section ===================-->
                    <section>
                        <div class="triangle-decor"></div>
                        <div class="container">
                            <section class="join_section">
                                <div class="join_confirm">
                                  <div class="bold-separator personal_h3">
                                      <h3 class="">예상 창업 비용 예시</h3>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-10 col-sm-offset-1">
                                          <img src="images/franchise_ex.jpg" alt="" style="width:100%">
                                      </div>
                                  </div>
                                    <div class="join_a_tag">
                                        <a href="franchise.html" class="btn">확인</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>

                </div>
    {% endblock %}
