{% extends "./blocks/layout.html" %}
{% block content %}
                <div class="content">
                    <!--=============== parallax section  ===============-->
                    <section class="parallax-section header-section">
                        <div class="bg bg-parallax" style="background-image:url(images/bg/fran.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>오베리굿 프렌차이즈</h2>
                            <!-- <h3>모던한 분위기에서 건강을 생각합니다.</h3> -->
                        </div>
                    </section>
                    <!--section end-->
                    <!--=============== reservation ===============-->
                    <section>
                        <div class="triangle-decor"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h3>프렌차이즈</h3>
                                        <h4>오베리굿은 직접 재배한 블루베리와 자체적으로 개발한 특별한 메뉴 <br>그리고 지속적인 홍보와 함께 프랜차이즈 점주를 모십니다.</h4>
                                        <div class="separator color-separator"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inner">
                                                <p style="font-size:24px; color:#C59D5F; line-height:130%;font-weight:300"> 오베리굿과 함께 성공적인 창업을 하세요.</p>
                                                <p>오베리굿은 직영농장 3곳과 블루베리 연구회를 통하여 최고 품질의 친환경 블루베리 제품을 생산하고 있습니다.
                                                    <br>최고의 품질의 블루베리를 보다나은 고객분들과 만나고자 프렌차이즈 사업을 시작하게 되었습니다.
                                                    <br>이제는 언제 어디서든 블루베리 카페 <strong>오베리굿</strong>을 통하여 쉽게 최상의 블루베리 제품을 만나 보실 수 있습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bold-separator">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </section> -->

                    <!-- <section class="parallax-section">
                        <div class="bg bg-parallax" style="background-image:url(images/bg/since.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>인테리어</h2>
                            <div class="bold-separator">
                                <span></span>
                            </div>

                        </div>
                    </section> -->
                    <!-- <section class="about-section" id="sec1"> -->

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-slider-holder">
                                        <div class="section-title">
                                            <h3>매장 인테리어</h3>
                                            <h4 class="decor-title">매장전면</h4>
                                            <div class="separator color-separator"></div>
                                        </div>
                                        <p class="text-center">간판은 녹화를 이용한 빈티지 컨셉으로 디자인되었고, 블루베리 색감을 강조하여, 청량하면서도 고급스러운 분위기를 연출하고 있습니다.</p>
                                    </div>
                                </div>
                                <!-- about images-->
                                <div class="col-md-6">
                                    <div class="single-slider-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="single-slider owl-carousel">
                                            <!-- 1 -->
                                            <div class="item">
                                                <img src="images/gallery/franchise/7.jpg" class="respimg" alt="">
                                            </div>
                                            <!-- 2 -->
                                            <div class="item">
                                                <img src="images/gallery/franchise/11.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/30.jpg" class="respimg" alt="">
                                            </div>
                                            <!-- 3 -->
                                            <div class="item">
                                                <img src="images/gallery/franchise/16.jpg" class="respimg" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="border:40px transparent solid">
                            <div class="row">
                                <div class="col-md-6 cross_text_1">
                                    <div class="single-slider-holder">
                                        <div class="section-title">
                                            <h3>매장 인테리어</h3>
                                            <h4 class="decor-title">매장 내부</h4>
                                            <div class="separator color-separator"></div>
                                        </div>
                                        <p class="text-center">매장 내부에 들어오면 바닥은 내추럴한 노출 콘크리트를 사용하였고, 벽면에는 목재를 활용한 디자인을 접목시켰습니다. 내추럴 하면서도 고급스러운 분위기를 연출하고 있습니다.</p>
                                    </div>
                                </div>
                                <!-- about images-->
                                <div class="col-md-6">
                                    <div class="single-slider-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="single-slider owl-carousel">
                                            <div class="item">
                                                <img src="images/gallery/franchise/18.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/19.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/20.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/21.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/22.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/23.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/24.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/25.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/26.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/27.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/28.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/29.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/30.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/31.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/32.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/33.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/34.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/35.jpg" class="respimg" alt="">
                                            </div>
                                            <div class="item">
                                                <img src="images/gallery/franchise/36.jpg" class="respimg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--about text-->
                                <div class="col-md-6 cross_text_2">
                                    <div class="single-slider-holder">
                                        <div class="section-title">
                                            <h3>매장 인테리어</h3>
                                            <h4 class="decor-title">매장 내부</h4>
                                            <div class="separator color-separator"></div>
                                        </div>
                                        <p class="text-center">매장 내부에 들어오면 바닥은 내추럴한 노출 콘크리트를 사용하였고, 벽면에는 목재를 활용한 디자인을 접목시켰습니다. 내추럴 하면서도 고급스러운 분위기를 연출하고 있습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bold-separator">
                            <span></span>
                        </div>
                        <div class="reservation-form-holder">
                            <div class="reservation-form">
                                <div id="message"></div>
                                <form method="post" action="writeFcContact" name="reservationform" id="reservation-form">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <h3>프랜차이즈 문의</h3>
                                            <input name="name" type="text" id=""  onClick="this.select()" placeholder="이름" required="required">
                                            <input name="email" type="text" id="" onClick="this.select()" placeholder="이메일"  required="required">
                                            <input name="hp" type="text" id="" onClick="this.select()" placeholder="전화번호"  required="required">
                                            <textarea name="content"  id="" row="5" onClick="this.select()" style="height:130px; padding:8px 0 8px 8px" placeholder="문의사항"  required="required"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit"  id="submit-res">문의하기</button>
                                </form>
                            </div>
                        </div>
                    </section>

                    <section class="parallax-section">
                        <div class="bg bg-parallax" style="background-image:url(images/bg/fran_a.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>성공차별화 전략</h2>
                            <div class="bold-separator">
                                <span></span>
                            </div>

                        </div>
                    </section>
                    <section class="about-section" id="sec1">
                        <div class="triangle-decor"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h3>성공전략</h3>
                                        <div class="separator color-separator"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inner">
                                                <p style="font-size:24px; line-height:130%;font-weight:300"> 블루베리 직영농장 3곳과 연구소를 운영하는 블루베리의 모든 것을 다루는 믿을 수 있는
                                                    체인본사에서 초보자도 쉽게 운영 가능한 성공 창업 아이템으로 만들어졌습니다.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 franchise_img">
                                            <img src="images/gallery/franchise/7.jpg" class="respimg" alt="">
                                        </div>
                                        <div class="col-md-6 franchise_img">
                                            <img src="images/gallery/farm/5.jpg" class="respimg" alt="">
                                        </div>
                                        <div class="col-md-6 franchise_img">
                                            <img src="images/gallery/farm/38.jpg" class="respimg" alt="">
                                        </div>
                                        <div class="col-md-6 franchise_img">
                                            <img src="images/gallery/franchise/36.jpg" class="respimg" alt="">
                                        </div>
                                    </div>
                                    <div class="bold-separator">
                                        <span></span>
                                    </div>
                                    <div class="col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-1">
                                        <div class="">
                                            <p style="font-size:24px; color:#C59D5F; line-height:130%;font-weight:300">
                                            1. 차별화된 창업아이템</p>
                                            <p>요즘 넘쳐나는 커피숍 시장에서 블루베리 카페라는 블루오션을 개척하고 있습니다.</p>
                                        </div>
                                        <div class="">
                                            <p style="font-size:24px; color:#C59D5F; line-height:130%;font-weight:300">
                                            2. 믿을 수 있는 체인 본사</p>
                                            <p>블루베리 전문가 집단이 만든 블루베리 카페, 풍부한 경험과 노하우로 고객의 믿음에 답하고 있습니다.</p>
                                        </div>
                                        <div class="">
                                            <p style="font-size:24px; color:#C59D5F; line-height:130%;font-weight:300">
                                            3. 초보자도 3일이면 OK</p>
                                            <p>초보자도 3일이면 쉽게 운영할 수 있도록 전문 주방장이 필요 없는 편리한 매장 운영을 만들었습니다.</p>
                                        </div>
                                        <div class="">
                                            <p style="font-size:24px; color:#C59D5F; line-height:130%;font-weight:300">
                                            4. 안정적인 창업아이템</p>
                                            <p>친환경 인증과 웰빙 음료라는 유행을 타지 않는 창업 아이템으로 고객에게는 특별함을 점주에게는 높은 마진율을 보장하고 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="bold-separator">
                                        <span></span>
                                    </div>
                                    <div class="reservation-form-holder">
                                        <div class="reservation-form">
                                            <div id="message"></div>
                                            <form method="post" action="franchise_pay.html" name="reservationform" id="reservation-form">
                                                <div class="row">
                                                    <div class="col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                                                        <h3 class="">예상창업 비용보기</h3>
                                                        <p>*(별) 표시는 필수 입력사항입니다.</p>
                                                    </div>
                                                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                                                        <input name="name" type="text" id=""  onClick="this.select()" placeholder="* 이름" >
                                                        <input name="address" type="text" id="" onClick="this.select()" placeholder="창업희망지역" >
                                                        <input name="hp" type="text" id="" onClick="this.select()" placeholder="* 핸드폰번호">
                                                        <input name="square" type="text" id="" onClick="this.select()" placeholder="* 평수">
                                                    </div>
                                                </div>
                                                <div class="join_a_tag inquiry_personal_button">
    	                                            <span>
                                                        <button type="button" class="btn btn_white" id="" onclick="location.href='franchise_ex.html'">예시보기</button>
                                                        <button type="submit" class="btn"  id="">비용보기</button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <div class="bold-separator">
                        <span></span>
                    </div> -->
                    <!-- 사업설명 시작 -->
                    <section class="parallax-section">
                        <div class="bg bg-parallax" style="background-image:url(images/bg/fran_b.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>사업 설명회</h2>
                            <div class="bold-separator">
                                <span></span>
                            </div>

                        </div>
                    </section>
                    <section class="about-section" id="sec1">
                        <div class="triangle-decor"></div>
                        <div class="container">
                            <div class="row">
                                <!--about text-->
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h3>사업설명회</h3>
                                        <h4 class="decor-title" style="font-weight:300">성공 창업의 노하우를 알려드립니다.</h4>
                                        <div class="separator color-separator"></div>
                                    </div>
                                    <!-- <p style="font-size:26px; color:#C59D5F; line-height:130%;font-weight:300; text-align:center"></p> -->
                                  <div class="open-list col-md-8 col-md-offset-2" >
                                      <dl>
                                          <dt>
                                              <!-- <a href="#desc1"> -->
                                                  사업설명회 내용
                                              <!-- </a> -->
                                          </dt>
                                          <dd class="on franchise_dd">
                                              1. 외식업 창업자가 알아야 할 아이템 선정 방법
                                                  <br>2. 상권분석 및 점포개발 노하우
                                                  <br>3. 창업 자금 활용방안
                                                  <br>4. 오베리굿 소개 및 지원사항
                                                  <br>5. 질문 및 답변
                                                  <br>6. 무료 매장 방문 및 시식
                                          </dd>
                                          <dt>
                                              <!-- <a href="#desc2"> -->
                                                  참가신청
                                              <!-- </a> -->
                                          </dt>
                                          <dd class="on franchise_dd">
                                              전화 : 1570-8797
                                              <br>밑에 참가 신청서 작성
                                              <br><strong>(예약자에 한하여 사업설명회 참가 가능합니다.)</strong>
                                              <br>날짜 : 매주 목요일
                                              <br>시간 : 오후 5시 성공사업설명회 실시
                                              <br>장소 : 지하철 1,4호선 창동역 2번 출구 100m 직진
                                          </dd>
                                          <dd class="on franchise_dd">
                                              <strong>- 사업설명회를 오기 전 궁금한 내용을 미리 적어오셔서 질문하세요.</strong>
                                              <br><strong>- 단순한 오베리굿의 홍보가 아닌 창업 전반에 대한 강의로 진행됩니다.</strong>
                                              <br><strong>- 사업설명회 후 가까운 매장에서 무료 시식이 있습니다.</strong>
                                          </dd>
                                      </dl>
                                  </div>
                                </div>
                                <!-- about images-->
                              </div>
                        </div>
                        <div class="bold-separator">
                            <span></span>
                        </div>
                        <!-- <hr style="border:40px transparent solid"> -->
                        <div class="reservation-form-holder">
                            <div class="reservation-form">
                                <div id="message"></div>
                                <form method="post" action="writeFcRequest" name="reservationform" id="reservation-form">
                                    <div class="row">
                                        <div class="col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2">
                                            <h3 class="">사업설영회 신청</h3>
                                            <p>※설명회는 매주 목요일 오후 5시에 있습니다.
                                            <br>*(별) 표시는 필수 입력사항입니다.</p>
                                        </div>
                                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                                            <input name="name" type="text" id=""  onClick="this.select()" placeholder="* 이름" required="required">
                                            <input name="address" type="text" id="" onClick="this.select()" placeholder="창업희망지역" required="required">
                                            <input name="hp" type="text" id="" onClick="this.select()" placeholder="* 핸드폰번호" required="required">
                                            <div>
                                                <p>* 원하는 사업설명회 일정</p>
                                            </div>
                                            <div class="">
                                                <div class="col-md-4 col-sm-4 col-xs-4 franchise_ymd">
                                                    <input name="requestY" type="text" id="" onClick="this.select()" placeholder="*년"  maxlength="4" required="required">
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4 franchise_ymd">
                                                    <input name="requestM" type="text" id="" onClick="this.select()" placeholder="*월"  maxlength="2" required="required">
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4 franchise_ymd">
                                                    <input name="requestD" type="text" id="" onClick="this.select()" placeholder="*일" maxlength="2" required="required">
                                                </div>

                                                <!-- <input name="data" type="text" id="phone" onClick="this.select()" value="월">
                                                <input name="data" type="text" id="phone" onClick="this.select()" value="일"> -->
                                            </div>
                                            <textarea name="content"  id="comments" row="10" onClick="this.select()" style="height:130px; padding:8px 0 8px 8px" placeholder="문의사항" required="required"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit"  id="submit-res">신청하기</button>
                                </form>
                            </div>
                        </div>
                    </section>



                    <!--section end-->
                    <!--=============== Opening Hours ===============-->
                    <section class="parallax-section" id="sec2">
                        <div class="media-container video-parallax" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);">
							<div class="bg mob-bg" style="background-image: url(images/bg/1.jpg)"></div>
                            <div class="video-container">
                                <video autoplay  loop muted  class="bgvid">
                                    <source src="video/1.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>오베리굿 문의시간</h2>
                            <h3>가맹점 문의 전화주세요</h3>
                            <div class="bold-separator">
                                <span></span>
                            </div>
                            <div class="work-time">
                                <div class="row">
                                    <div class="">
                                        <h3>월요일 ~ 일요일</h3>
                                        <div class="hours">
                                            10:00<br>
                                            23:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="big-number"><a href="#">1670-8797</a></div>
                                    <div><p style="text-align:center; color:#CCC">※ 매장 상황에 따라서 변동될 수 있습니다.</p></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--content end-->
{% endblock %}
