{% extends "./blocks/layout.html" %}
{% block content %}
              <div class="content">
                  <section class="parallax-section header-section">
                      <div class="bg bg-parallax" style="background-image:url(images/bg/1.jpg)" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                      <div class="overlay"></div>
                      <div class="container">
                          <h2>Our blog</h2>
                          <h3>Ler's read </h3>
                      </div>
                  </section>
                  <!--================= Section post's ================-->
                  <section class="align-text">
                      <div class="triangle-decor"></div>

                  </section>
                  <!-- section end -->
              </div>

{% endblock %}
