{% extends "./blocks/layout.html" %}
{% block content %}
                <div class="content">
                    <!--=============== parallax section  ===============-->
                    <section class="parallax-section header-section" style="padding:220px 0 150px">
                        <div class="bg bg-parallax" style="background-image:url(images/bg/slide_2.jpg);" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <h2>비밀번호 찾기</h2>
                        </div>
                    </section>
                    <!--section end-->
                    <section>
                        <div class="triangle-decor"></div>
                        <div class="container">
                            <section class="join_section">
                                <div class="join_confirm">
                                  <div class="bold-separator personal_h3">
                                      <h3 class="">비밀번호 찾기</h3>
                                  </div>
                                    <div class="confirm_text">
                                        <h5 style="font-size:26px">고객님이 가입 시 입력하신 메일 주소로 비밀번호 초기화 링크가 전달되었습니다.</h5>

                                        <div class="separator color-separator"></div>
                                        <p>앞으로 회원님을 위한 다양한 혜택과 함께 언제나 만족스러운 쇼핑을 하실 수 있도록 최선을 다하는 오베리굿이 되겠습니다.
                                        </p>
                                    </div>
                                    <div class="join_a_tag">
                                        <a href="login.html" class="btn">로그인</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
{% endblock %}
